// CODES
$primary-color: rgb(3, 1, 15);
$secondary-color: white;

$font-primary: "Zen Dots", sans-serif;
$font-secondary: "Rubik", sans-serif;

// MIXINS
@mixin headings {
    font-family: $font-primary;
    text-align: center;
    font-size: 30px;
}

@mixin section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

// --------
* {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font-secondary;
    font-size: 22px;
}

// HEADER
h1 {
    @include headings();
}

h2 {
    @include headings();
    font-size: 40px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.date {
    @include section();
    flex-direction: row;
}

.contentSection {
    @include section();

    img {
        width: 60%;
        border: 3px double whitesmoke;
        padding: 20px;
    }

    p {
        width: 80%;
        text-align: center;
    }
}

hr {
    width: 80%;
    border: 3px solid rgb(160, 160, 160);
    border-radius: 5px;
}

footer p, footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}